#infoWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: none;
    /* Hide by default */
    z-index: 100;
    /* Ensure it's above other elements */
}